.myAvatar {
    margin: 50px 0;
    width: 600px;
    z-index: 10;
    border-radius: 10%;
    box-shadow: 0 0 15px 15px rgba(255, 20, 147, 0.7);
}

body {
    background-color: #1f1f1f;
    background-size: 7px 7px;
    background-image: repeating-linear-gradient(45deg, #373738 0, #373738 0.7000000000000001px, #1f1f1f 0, #1f1f1f 50%);
}

.form-floating {
    margin: 10px;
    padding: 5px;
    background-color: rgba(0,0,0,0);
}

.form-floating .form-control {
    padding: 10px;
    border: 2px solid #de63a3;
    border-radius: 10px;
    transition: box-shadow 0.3s;
    box-shadow: 0 0 5px 5px rgba(173, 118, 149, 0.7);
}

.form-floating .form-control:focus {
    border-color: deeppink;
    box-shadow: 0 0 10px 7px rgba(255, 20, 147, 0.7);
}

@media (min-width: 1250px) {
    .container {
        width: 700px;
    }
}