body {
    box-sizing: border-box;
    background-image: url("../img/background3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    /*    background-color: #1f1f1f;
        background-size: 7px 7px;
        background-image: repeating-linear-gradient(45deg, #373738 0, #373738 0.7000000000000001px, #1f1f1f 0, #1f1f1f 50%);*/
}

.avatar_container {
    height: 30vh;
}

.myAvatar {
    margin: 50px 0 50px 30px;
    width: 400px;
    z-index: 10;
    border-radius: 10%;
    border: 1px solid black;
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.8);
    float: left;
}

.fields_container {
    height: 54vh;
    background-color: rgba(25,25,25,0.5);
    border-radius: 20px;
}

.form-floating {
    margin: 10px;
    padding: 5px;
    background-color: rgba(0,0,0,0);
}

.form-floating .form-control {
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    transition: box-shadow 0.3s;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
}

.form-floating .form-control:focus {
    border-color: deeppink;
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.8);
}

.fields_container-row1 {
    padding-top: 25px;
}

@media (min-width: 1250px) {
    .container {
        width: 700px;
        height: 92vh;
    }
}

.filler {
    height: 10vh;
}

.footer_container {
    width: 100vw;
    height: 6vh;
    background-color: #191919;
    opacity: 0.9;
    background-size: 9px 9px;
    background-image: repeating-linear-gradient(45deg, #323232 0, #323232 0.9px, #191919 0, #191919 50%);
    color: deeppink;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_link {
    margin: 10px;
    color: deeppink;
    text-decoration: none;
    align-self: center;
}

.footer_link:first-of-type {
    padding-left: 30px
}

.footer_link:last-of-type {
    padding-right: 30px
}